<div class="continer mt-5">

    <div class="card mb-3">
  <img src="{{blog.image}}" class="card-img-top" alt="..." width="600px">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <p class="card-text">{{blog.description}}</p>
    <p class="card-text"><small class="text-muted">{{blog.category}}</small></p>
  </div>
</div>

</div>